In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import sqlite3
import time
import pandas as pd

In [22]:
import abc
from enum import Enum

In [31]:
from dataclasses import dataclass

In [28]:
class SQLITE_DATA_TYPES(Enum):
    NULL= "NULL"
    INTEGER= "INTEGER"
    REAL= "REAL"
    TEXT="TEXT"
    BLOB= "BLOB"

In [ ]:
@dataclass
class sqlTable:
    column: str
    dtype: SQLITE_DATA_TYPES
    primaryKey: bool

In [30]:
class SQLITETable(abc.ABC):
    def __init__(self, con: sqlite3.Connection, tableName, columns: list(sqlTable)):
        self.columns = columns
        self.tableName = tableName
        self.con = con

    def createIfNotExists(self):
        cur = self.con.cursor()
        columnString = ""
        for index, t in enumerate(self.columns):
            columnString += "{t.column} {t.dtype.value}"
            if t.primaryKey:
                columnString += "PRIMARY KEY"
            if index != len(t.columns) - 1:
                columnString += ","

        cur.execute(
            "CREATE TABLE IF NOT EXISTS {self.tableName} ({columnString})")
        cur.close()
        return

'INTEGER'

In [ ]:
class NepseScraper():

    def __init__(self):
        self.driver = webdriver.Chrome(
            service=ChromeService(ChromeDriverManager().install()))
        self.baseURL = "https://www.nepalstock.com/"
        self.driver.get(self.baseURL)
        self.securities = []

    def scrapeTable(table, nextBtn):
        tableData = []
        while True:
            tableData.append(pd.read_html(table)[0])
            if 'disabled' in nextBtn.get_attribute('class'):
                break
            time.sleep(1)
            nextBtn.click()
        return tableData

    def getAllSecurities(self):
        page = self.driver.get(self.baseURL + "company")
        tableData = []
        nextBtn = self.driver.find_element(By.CLASS_NAME, 'pagination-next')
        while True:
            tableData.append(pd.read_html(self.driver.find_element(By.TAG_NAME, 'table').get_attribute('outerHTML'))[0])
            if 'disabled' in nextBtn.get_attribute('class'):
                break
            time.sleep(0.5)
            nextBtn.click()
        return tableData

In [ ]:
driver = webdriver.Chrome(service=ChromeService(ChromeDriverManager().install()))
page = driver.get("https://www.nepalstock.com/company")

In [ ]:
nextBtn = driver.find_element(By.CLASS_NAME, 'pagination-next')

In [18]:
tableData[0]

,SN,Name,Symbol,Status,Sector,Instrument,Email,Website
0,1,Nabil Bank Limited,NABIL,Active,Commercial Banks,Equity,rajesh.bogati@nabilbank.com,NaN
1,2,Nepal Investment Mega Bank Limited,NIMB,Active,Commercial Banks,Equity,NIBL.Nepse@nibl.com.np,http://www.nibl.com.np
2,3,Standard Chartered Bank Limited,SCB,Active,Commercial Banks,Equity,Legal.Nepal@sc.com,NaN
3,4,Himalayan Bank Limited,HBL,Active,Commercial Banks,Equity,legal@himalayanbank.com,NaN
4,5,Nepal SBI Bank Limited,SBI,Active,Commercial Banks,Equity,cs@nsbl.com.np,https://nsbl.statebank
5,6,Everest Bank Limited,EBL,Active,Commercial Banks,Equity,sharedept@ebl.com.np,NaN
6,7,NIC Asia Bank Ltd.,NICA,Active,Commercial Banks,Equity,nica.nots@nicasiabank.com,NaN
7,8,Machhapuchhre Bank Limited,MBL,Active,Commercial Banks,Equity,machbank@mbl.com.np,http://www.machbank.com
8,9,Laxmi Bank Limited,LBL,Active,Commercial Banks,Equity,piyush.aryal@laxmibank.com,NaN
9,10,Kumari Bank Limited,KBL,Active,Commercial Banks,Equity,info@kumaribank.com,http://www.kumaribank.com
10,11,Siddhartha Bank Limited,SBL,Active,Commercial Banks,Equity,laxman.ghimire@sbl.com.np,NaN
11,12,Soaltee Hotel Limited,SHL,Active,Hotels And Tourism,Equity,lbkhatri@soaltee.com.np,http://www.soalteehotel.com
12,13,Taragaon Regency Hotel Limited,TRH,Active,Hotels And Tourism,Equity,info@taragaon.com,NaN
13,14,Oriental Hotels Limited,OHL,Active,Hotels And Tourism,Equity,legal@radkat.com.np,NaN
14,15,National Hydro Power Company Limited,NHPC,Active,Hydro Power,Equity,info@nhpcl.com,NaN
15,16,Butwal Power Company Limited,BPCL,Active,Hydro Power,Equity,hari.budhathoki@bpc.com.np,http://www.bpc.com.np
16,17,Chilime Hydropower Company Limited,CHCL,Active,Hydro Power,Equity,narayanprasad.acharya@chilime.com.np,NaN
17,18,Salt Trading Corporation,STC,Active,Tradings,Equity,legalstcnepal@gmail.com,NaN
18,19,Bishal Bazar Company Limited,BBC,Active,Tradings,Equity,info@bishalbazar.com.np,NaN
19,20,Nirdhan Utthan Laghubitta Bittiya Sanstha Limited,NUBL,Active,Microfinance,Equity,rbchaudhary@nirdhan.com.np,NaN